*{
    background-color: beige;
}

.home > img{
    
}

.경상남도지도 > img{
    margin: 0 auto;
    width: 1200px;
    height: auto;
    display: block;    
}

.footer{
    background-color: gray;
    height: auto;
    justify-content: center;
    padding: 40px;
    color: #fff;
    text-align: center;
    width: auto;

}

.footer > p {
    background-color: gray;
}

.footer > p > a{
    background-color: gray;
    color: #fff;
}
